<div class="jumbotron" id="home-page">
  <h1>Welcome to Better Boards!</h1>
  <p>Sign in with:
    <a href='/auth/google_oauth2' id="customBtn">
      <span class="icon"></span>
      <span class="button-text">Google</span>
    </a>
  </p>
</div>
