#home-page
  text-align: right
  background-color: rgba(0,0,0,0)
  margin-top: 10em
  h1
    margin-bottom: 40px
  p
    font-weight: 400
  #customBtn
    display: inline-block
    background: #4285f4
    color: white
    width: 190px
    border-radius: 5px
    white-space: nowrap
    .icon
      background: url('https://google-developers.appspot.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat
      display: inline-block
      vertical-align: middle
      width: 42px
      height: 42px
      border-right: #2265d4 1px dashed
    .button-text
      display: inline-block
      vertical-align: middle
      padding-left: 42px
      padding-right: 42px
      font-size: 16px
      font-weight: bold
    &:hover
      text-decoration: none
